{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
    <h2 class="text-center mb-4">Daycare Bimble</h2>
    <h3 class="text-center mb-4">Ilustrasi ketika sedang belajar sambil bermain</h3>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="/static/images/activity1.png" alt="Learning Activity 1" class="img-fluid rounded">
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/images/activity1.png" alt="Learning Activity 2" class="img-fluid rounded">
        </div>
        <div class="col-md-4 mb-4">
            <img src="/static/images/activity1.png" alt="Learning Activity 3" class="img-fluid rounded">
        </div>
    </div>
</div>
{% endblock %}