{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
    <h2 class="text-center mb-4">Jam Kerja</h2>
    
    <div class="mb-4">
        <h5>Ketentuan:</h5>
        <ul>
            <li>Terima pendaftaran anak umur 2 tahun sampai 4 tahun</li>
            <li>Jam operasional 07.30-16.00</li>
            <li>Terima anak Paud sampai dengan siswa menengah atas</li>
            <li>Jam operasional 14.00-20.00 (Senin-Jum'at)</li>
            <li>Jam operasional 08.00-21.00 (Sabtu & Minggu)</li>
        </ul>
    </div>

    <div class="mb-4">
        <h5>Fasilitas:</h5>
        <p>CCTV, Kolam renang, Playground, Ruang kelas yang nyaman, Ruang baca, 3x makan snack dan snack khusus</p>
    </div>

    <div class="mb-4">
        <h5>Kegiatan:</h5>
        <ul>
            <li>Belajar huruf dan angka, belajar nama-nama benda disekitar (Khusus anak Paud)</li>
            <li>Belajar perkaliaan dan latihan soal (Khusus SD, SMP, dan SMA)</li>
            <li>Bermain sambil belajar menyusun lego dan membuat mainan (khusus daycare)</li>
        </ul>
    </div>

    <div>
        <h5>Biaya:</h5>
        <ul>
            <li>Biaya pendaftaran harian: Rp 250 ribu-500 ribu (tergantung usia)</li>
            <li>Biaya pendftaran mingguan: Rp 1 juta-1,5 juta (tergantung usia)</li>
            <li>Biaya pendaftaran bulanan: Rp 2,5 juta-3,5 juta (tergantung usia)</li>
            <li>Biaya keanggotan: Rp 2 juta-2,5 juta (tergantung usia dan dibayarkan per 6 bulan)</li>
        </ul>
    </div>
</div>
{% endblock %}